:root {
  --color-bg: #0B0E11;
  --color-accent: #4BD2E5;
  --font-main: 'Inter', sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-main);
  margin: 0;
  color: white;
}
